a.prev:hover,a.next:hover { background-color:#00A99D;}
.footerstress { border: solid #00A99D;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#00A99D;}
.vuzz-pricing-table>div { border-top:#00A99D 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#00A99D;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#00A99D;}
.hometitlebg { background:#00A99D; }
.colortitlebg { background:#00A99D; }
.neutralbutton {	background:#00A99D;}
.serviceicon { background-color:#00A99D;}
.subtitle { border-bottom:#00A99D 1px solid;}
.wrapaction { border-left: #00A99D 3px solid;background:#fff;}
.actionbutton { background-color:#00A99D;}
.stresstitle { border-bottom:#00A99D 1px solid;}
.undermenuarea {	background: #00A99D url(../images/noise.png) repeat;}
.noshadowbox {background:#fff;}
.progressdefault {background: #00A99D;}
.simplebox {border-left: 1px solid #00A99D;}
.simpleboxicon {color: #00A99D;}
.colorme { color:#00A99D;}
.buttonprice {background: #00A99D;color:#fff;border:0px;}
a.expandAll {background: #00A99D;}
.wrapactiondefault {border-left: #00A99D 2px solid;}
